* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a {
  text-decoration: none;
}

ul {
  padding-left: 0%;
}

img {}

/* Sidebar section css starts */



/* Sidebar section css ends */

/* -------------------------------------------------------------------- */

/* Mainsectioncss starts here */
.sectionOneMain {
  position: relative;
}

.navbarMainSection {
  position: fixed;
  top: 10%;
  right: 7%;
  width: fit-content;
  background-color: #343436;
  border-radius: 10px;
  border: 1px solid rgb(89, 88, 88);
}


.mainsection {
  height: 90vh;
  overflow-y: scroll;
}

/* .nav .navLink a:active{
  background-color: #fff;
} */


.navItem {
  text-decoration: none;
  color: #D6D6D6;
  padding: 1px 0px;
}

.active {
  padding: 4px 0px;
  color: #F9D66E;
  border-bottom: 2px solid #F9D66E;
}

/* Mainsectioncss ends here */

/* ----------------------------------------------------------------------- */


/* Home css ends here */

.sidebar {
  background-color: #1E1E1F;
  height: fit-content;
  border: 1px solid rgb(89, 88, 88);
  border-radius: 15px;
}

.sectionone {
  height: 100vh;
  overflow: hidden;
  background-color: #121212;
  color: #fff;
}

.secOneChildOne {
  height: 90vh;
  background-color: #1E1E1F;
  border: 1px solid rgb(89, 88, 88);
  border-radius: 15px;
}


.has-scrollbar::-webkit-scrollbar {
  width: 10px;

}

.has-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 15px;

}


.has-scrollbar::-webkit-scrollbar-track-piece {
  background-color: transparent;
}


.has-scrollbar::-webkit-scrollbar-thumb {
  background-color: #353536;
  height: fit-content;
  border: 1px solid rgb(89, 88, 88);
  border-radius: 5px;
  width: 10px;
}

/* Home css ends here */


/* ----------------------------------------------------------------------- */



@media(min-width:512px) {
  .navbarMainSection {
    top: 10%;
    right: 7%;
  }
}

@media(min-width:768px) {
  .navbarMainSection {
    top: 8%;
    right: 7%;
  }
}

@media(min-width: 992px) {
  .navbarMainSection {
    top: 5.5%;
    right: 6%;
  }
}

@media (min-width: 1200px) {
  .navbarMainSection {
    top: 8.5%;
    right: 2%;
  }
}